:root {
  /* Primary Colors */
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);

  /* Neutral Colors */
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
  font-family: Poppins, sans-serif;
  font-size: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow-x: none;
}

#overlay {
  height: 100vh;
  width: 100vw;
  background-color: var(--very-light-gray);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
}

#container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 40px;
}

img {
  width: 70px;
  height: auto;
}

h1 {
  color: var(--very-dark-blue);
  font-size: 1.8rem;
  letter-spacing: 0.02rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: var(--dark-grayish-blue);
  letter-spacing: 0.1px;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
}

p {
  color: var(--grayish-blue);
  text-align: center;
  letter-spacing: 0.1px;
  font-size: 1.15rem;
}

.info {
  max-width: 400px;
  line-height: 1.5;
  opacity: 0.85;
  padding: 24px 0 80px 0;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.card {
  height: 280px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 30px 40px;
  border-radius: 6px;
  box-shadow: 0 12px 40px -10px var(--grayish-blue);
  transition: box-shadow ease 0.3s, transform ease 0.3s;
  cursor: pointer;
}

.card:nth-child(1) {
  border-top: 6px solid var(--Cyan);
}

.card:nth-child(1):hover,
.card:nth-child(1):focus {
  box-shadow: 0 12px 40px -20px var(--Cyan),
    0 12px 40px -10px var(--grayish-blue);
  transform: scale(1.02);
}

.card:nth-child(2) {
  border-top: 6px solid var(--Red);
}

.card:nth-child(2):hover,
.card:nth-child(2):focus {
  box-shadow: 0 12px 40px -20px var(--Red),
    0 12px 40px -10px var(--grayish-blue);
  transform: scale(1.02);
}

.card:nth-child(3) {
  border-top: 6px solid var(--Orange);
}

.card:nth-child(3):hover,
.card:nth-child(3):focus {
  box-shadow: 0 12px 40px -20px var(--Orange),
    0 12px 40px -10px var(--grayish-blue);
  transform: scale(1.02);
}

.card:nth-child(4) {
  border-top: 6px solid var(--Blue);
}

.card:nth-child(4):hover,
.card:nth-child(4):focus {
  box-shadow: 0 12px 40px -20px var(--Blue),
    0 12px 40px -10px var(--grayish-blue);
  transform: scale(1.02);
}

h3 {
  font-size: 1.6rem;
}

.card .text p {
  text-align: left;
  font-size: 1rem;
  line-height: 1.8rem;
  margin-top: 0.2rem;
}

.image {
  width: 100%;
  text-align: right;
}

.attribution {
  font-size: 0.8rem;
  text-align: center;
  position: relative;
  flex-shrink: 0;
  margin-bottom: 1rem;
}

.attribution a {
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

.attribution a:hover {
  color: var(--very-dark-blue);
  text-decoration: underline;
}

.item1 {
  grid-area: item1;
}
.item2 {
  grid-area: item2;
}
.item3 {
  grid-area: item3;
}
.item4 {
  grid-area: item4;
}

#card1 {
  animation: highlight-card1 6s ease 0s;
  animation-iteration-count: infinite;
}
#card2 {
  animation: highlight-card2 6s ease 0s;
  animation-iteration-count: infinite;
}
#card3 {
  animation: highlight-card3 6s ease 0s;
  animation-iteration-count: infinite;
}
#card4 {
  animation: highlight-card4 6s ease 0s;
  animation-iteration-count: infinite;
}

@keyframes highlight-card1 {
  0% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  10% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  15% {
    box-shadow: 0 12px 40px -20px var(--Cyan),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  30% {
    box-shadow: 0 12px 40px -20px var(--Cyan),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  35% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  100% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
}
@keyframes highlight-card2 {
  0% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  30% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  35% {
    box-shadow: 0 12px 40px -20px var(--Red),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  50% {
    box-shadow: 0 12px 40px -20px var(--Red),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  55% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  100% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
}
@keyframes highlight-card3 {
  0% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  50% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  55% {
    box-shadow: 0 12px 40px -20px var(--Orange),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  70% {
    box-shadow: 0 12px 40px -20px var(--Orange),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  75% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  100% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
}
@keyframes highlight-card4 {
  0% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  70% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  75% {
    box-shadow: 0 12px 40px -20px var(--Blue),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  90% {
    box-shadow: 0 12px 40px -20px var(--Blue),
      0 12px 40px -10px var(--grayish-blue);
    transform: scale(1.02);
  }
  95% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
  100% {
    box-shadow: 0 12px 40px -10px var(--grayish-blue);
    transform: none;
  }
}

@media screen and (min-width: 1320px) {
  .cards {
    display: grid;
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: repeat(3, 400px);
    grid-template-areas:
      " . item2 ."
      " item1 item2 item4"
      " item1 item3 item4"
      " . item3 .";
  }

  .card {
    width: 400px;
  }

  h1 {
    font-size: 2.4rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  .info {
    max-width: 600px;
  }

  #card1,
  #card2,
  #card3,
  #card4 {
    animation: none;
  }
}

@media screen and (min-width: 880px) and (max-width: 1320px) {
  .cards {
    display: grid;
    grid-template-rows: repeat (4, 1fr);
    grid-template-columns: repeat(2, 400px);
    grid-template-areas:
      " item1 item3 "
      " item1 item3 "
      " item2 item4 "
      " item2 item4 ";
  }

  .card {
    width: 400px;
  }

  #card1,
  #card2,
  #card3,
  #card4 {
    animation: none;
  }
}

@media screen and (min-width: 440px) and (max-width: 880px) {
  .card {
    width: 400px;
  }

  #card1,
  #card2,
  #card3,
  #card4 {
    animation: none;
  }
}
