:root {
  /* Primary Colors */
  --green: hsl(133, 85%, 50%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral Colors */
  --very-dark: hsl(240, 7%, 3%);
  --very-dark-gray: hsl(240, 2%, 7%);
  --dark-grayish-blue: hsl(227, 6%, 30%);
  --white: hsl(0, 0%, 100%);
  --almost-white: hsl(0, 0%, 75%);
}

.urbanist-regular {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.urbanist-bold {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

* {
  /*border: 1px solid black;*/
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: var(--very-dark);
  color: var(--white);
  font-family: Urbanist, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#overlay {
  height: 100vh;
  width: 100vw;
  background-color: var(--very-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
  transition: all ease 5s;
}

h1 {
  font-size: 1.4rem;
  letter-spacing: 0.04rem;
  line-height: 1.5;
}

h1::before {
  content: "";
  height: 10px;
  width: 10px;
  background-color: var(--green);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 12px;
  box-shadow: 0 0 10px var(--green);
}

p {
  color: var(--dark-grayish-blue);
  line-height: 1.45;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 20px 24px;
  list-style: none;
  margin-top: 24px;
}

li a {
  font-size: 2rem;
  color: var(--almost-white);
  letter-spacing: -0.02rem;
  line-height: 1;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 24px 48px;
  border-radius: 8px;
  transition: background-color ease 0.3s;
}

ul:hover li a:not(:hover) {
  color: var(--dark-grayish-blue);
  transition: color ease 0.3s;
}

ul:hover li a:hover {
  color: var(--white);
  background-color: var(--very-dark-gray);
  transition: color ease 0.3s;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 1.8rem;
    letter-spacing: 0.04rem;
  }

  h1::before {
    height: 12px;
    width: 12px;
    margin-right: 16px;
  }

  li a {
    font-size: 2.4rem;
    padding: 32px 64px;
  }

  ul {
    margin-top: 48px;
    padding: 24px 24px;
  }
}
